
body {
  background-color: black;
  margin-left: 40px;
}

nav {
  margin-top: 20px;
}

h1 {
  color: white;
  font-size: 48px;
  font-style: bold;
  font-family: 'Poppins', sans-serif;
  margin-top: 40px;
}

h2, h3, h4, h5, h6 {
  color: white;
  font-size: 18px;
  font-style: bold;
  font-family: 'Poppins', sans-serif;
}

p {
  color: #AFAFAF;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
