
body {
  height: 200vh; /* Added extra height for scroll testing */
  background-color: #000000;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 60px;
}

nav {
  margin-top: 40px;
}

h1 {
  color: #FFFFFF;
  font-size: 52px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  font-size: 24px;
  font-style: bold;
  font-family: 'Poppins', sans-serif;
}

p {
  color: #AFAFAF;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

/* Default desktop view ------------------------------------------------------*/
.mobile-view {
  display: none;
}

.desktop-view {
  width: 100%;
  border-collapse: collapse;
}

.desktop-view th {
  vertical-align: top;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  width: 128px;
  padding: 10px 20px;
}

.desktop-view td {
  vertical-align: top;
  padding: 10px 64px;
}

/* Mobile view ---------------------------------------------------------------*/
@media (max-width: 768px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }
}

/* This will create a faint glow around the cursor. This is used with mouseglow.js */
#glow {
    position: fixed;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    pointer-events: none;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 70%);
    filter: blur(40px);
    transform: translate(-50%, -50%);
}
