html {
  scroll-behavior: smooth;
}

body {
  height: 200vh; /* Added extra height for scroll testing */
  background-color: #000000;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 60px;
}

nav {
  margin-top: 40px;
}

nav a {
  color: #AFAFAF;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #FF6347;  /* The line color */
  transition: width 0.3s ease;  /* Smooth transition for the line */
}

/* Hover effect */
nav a:hover::after {
  width: 100%;
}

/* Active link (when clicked or in view) */
nav a.active::after {
  width: 100%;
}

h1 {
  color: #FFFFFF;
  font-size: 52px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  font-size: 24px;
  font-style: bold;
  font-family: 'Poppins', sans-serif;
}

p {
  color: #AFAFAF;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

footer {
  padding-bottom: 60px;
}

.bold-white {
  font-weight: bold;
  color: #FFFFFF;
}

.bold-white-link {
  font-weight: bold;
  color: #FFFFFF;
  font-size: 24px;
}

.exp-dates {
  font-size: 18px;
  font-weight: normal;
  color: #FFFFFF;
}

/* Default desktop view ------------------------------------------------------*/
.mobile-view {
  display: none;
}

.desktop-view {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.desktop-view th {
  vertical-align: top;
  text-align: left;
  width: 128px;
  padding-top: 20px;
  padding-right: 200px;
  padding-top: 50px;
}

.desktop-view td {
  vertical-align: top;
  padding-top: 35px;
}

@media (min-width: 1200px) {
  .container {
    display: flex;
  }

  .nav-display {
    display: block;
  }

  /* Right column */
  .right-column {
    width: 50%;
    padding: 20px;
    margin-left: 50%;
  }

  /* Sticky behavior for left column on Fullscreen */
  .left-column {
    width: 50%;
    padding: 20px;
    position: fixed;
    top: 0;
    height: 100vh;
    overflow-y: auto;
  }
}

/* Mobile view ---------------------------------------------------------------*/
@media (max-width: 768px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }
}

@media (max-width: 1199px) {
  .container {
    display: block;
  }

  .nav-display {
    display: none;
  }

  .left-column {
    position: static;
    height: auto;
  }
}

/* This will create a faint glow around the cursor. This is used with mouseglow.js */
#glow {
    position: fixed;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    pointer-events: none;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 70%);
    filter: blur(40px);
    transform: translate(-50%, -50%);
}
